.projects{
  display: flex;
  width: 100%;
  margin-left: 10%;
  flex-direction: column;
  width: calc(100%-10%);
  height: 100%;
  background: linear-gradient(36deg, rgba(29,29,29,1) 0%, rgba(29,29,29,1) 53%, rgba(44,44,44,1) 68%, rgba(61,61,61,1) 91%);
}
.projects-div{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  overflow: auto;

}
.card-projet-text{
  display: flex;
  flex-direction: column;

}
.projet{
  margin-top: 2rem;
}
h1{
  font-size: 3em;
}
.projects-title{
  color:white;
  margin: 2rem;
}
.spanDescr{
  color: #F7DF1E;
}
.projet-title{
font-size: 2em;
color: white;
font-weight: bold;
}
.card-project{
  max-width: 600px;
  max-height: 560px;
  min-height: 560px;
  background-color: white;
  border-radius: 5px;
  margin: 2rem 0;

  &-img{
    width: 600px;
    height: 300px;
  }
}
.card-projet-h3{
  color: black;
  font-size: 1.7em;
  font-weight: 800;
}
.card-projet-h4{
  color: rgb(167, 164, 164);
  font-weight: 300;
  margin-top: -10px;
  padding: 1rem 0;
}
.card-projet-desc{
  padding: 0 2rem;
  line-height: 1.4rem;
  min-height: 70px;
  max-height: 70px;
}
.discoverProject{
  padding: 1rem 6rem;
  margin-top: 1rem;
  background-color: grey;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}
.card-projet-desc{
  padding-bottom: 1rem;
}
.ui.button, .ui.buttons .button, .ui.buttons .or {
  font-size: 1rem;
  max-width: 60%;
  margin: 0 auto;
  justify-self: flex-end;

}
.discoverProject:hover{
  font-weight: bold;
  color: white;
  background-color: rgb(105, 105, 105);
}
.transition{
  animation-duration: 1400ms;
  animation-name:fadeTop; 
  }
  @keyframes fadeTop{
    from{
      tranform:scale(1, 1) matrix(1, 0, 0, 1, 0, 0);
      margin-top:100%;
      width: 90%;
    }
    to{
      margin-top:0;
      width: 90%;
    }
  }
