.Skills{
  display: flex;
  width: 100%;
  padding-top: 3rem;
  margin-left: 10%;
  flex-direction: column;
  width: calc(100%-10%);
  height: 100%;
  background: linear-gradient(36deg, rgba(29,29,29,1) 0%, rgba(29,29,29,1) 53%, rgba(44,44,44,1) 68%, rgba(61,61,61,1) 91%);
}
