.about{
  display: flex;
  width: 100%;
  padding-top: 3rem;
  margin-left: 10%;
  flex-direction: column;
  height: 100%;
  background-color: rgb(224, 224, 224);
  // background: linear-gradient(36deg, rgba(29,29,29,1) 0%, rgba(29,29,29,1) 53%, rgba(44,44,44,1) 68%, rgba(61,61,61,1) 91%);

  &-title{
    color: #181818;
    // color: #FFF;
    text-transform: uppercase;
  }
  &-description{
    padding-top: 3rem;
    text-align: justify;
    width: 60%;
    margin: 0 auto;
    color: white;
    font-size: 1.3em;
  }
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem auto 0 auto;
  width: 90%;
  height: auto;
  overflow: auto;
}
.card-title{
  font-size: 1.3em;
  margin-top: 5px;
}
.transition{
animation-duration: 1400ms;
animation-name:fadeTop; 
}
@keyframes fadeTop{
  from{
    tranform:scale(1, 1) matrix(1, 0, 0, 1, 0, 0);
    margin-top:100%;
    width: 90%;
  }
  to{
    margin-top:0;
    width: 90%;
  }
}

@media screen and (max-width:900px ){
  .about{
    width: 100% ;
    margin-left: 0;
    height: 90%;
    width: calc(100%-0%);

    &-title{
      font-size: 1.3em;
    }
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0 0 0;
    width: 100%;
    height: auto;
    overflow: auto;
  }
  @keyframes fadeTop{
    from{
      margin-top:100%;
      width: 100%;
    }
    to{
      margin-top:0;
      width: 100%;
    }
  }
}
