.card{
    max-width: 25%;
  min-height: 350px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 1rem 1rem;
  border-radius: 10px;
  color: rgb(56, 56, 56);
  box-shadow: 0 0 15px -5px rgb(146, 146, 146);

  &-year{
    font-size: 1.1em;
    font-weight: 400;
    color: grey;
  }
  &-title{
    font-size: 22px !important;
    padding-top: 1rem;

  }
  &-description{
    text-align: justify;
    padding: 2rem 2rem 0 2rem;
    max-height: 150px;
    min-height: 150px;
  }

    
  
  &-img{
    width: auto;
    max-height: 60px;
    background-color: white;
  }
  &-modalInfo{
   width: 100%;
   height: auto;
   background-color: #F7DF1E;
   padding: 0.5rem;
   color: black;
   font-weight: bold;
  }
  &-modalInfo:hover{
    width: 100%;
    background-color: rgb(243, 216, 12);
    color: white;
  }
}

.div-img{
  width: 100%;
  height: 50px;
  background-color: white;
}
.ui.button, .ui.buttons .button, .ui.buttons .or {
  font-size: 1rem;
  max-width: 60%;
  margin: 0 auto;
  align-content: flex-end;

}
@media screen and (max-width:900px ){
  .card{
    max-width: 80%;
    min-height: 380px;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1rem 1rem;
    border-radius: 10px;
    color: rgb(56, 56, 56);
    box-shadow: 0 0 15px -5px rgb(146, 146, 146);
  }
}
